body {
  background-color: rgb(255, 223, 239); /* soft pink */
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  padding: 50px;
  color: rgb(60, 60, 60); /* darker gray for body text */
}

h1, h2, h3 {
  color: rgb(180, 140, 210); /* lavender/purplish titles */
}

a:link, a:hover {
  color: rgb(60, 25, 94); /* dark purple */
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: red; /* turns red after click */
}
